.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

section {
  background: linear-gradient(rgba(220, 140, 140, 0.7), rgba(220, 140, 140, 0.7));
}

td {
  white-space: nowrap;
}